body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    --min-height-body:500px;
}

/* General Formatting */
.title_blurb {
  max-width: 800px;
  font-size: var(--title_text);
  text-align: center;
  justify-self: center;
  color: white;
  background-position: center;
}
.subtitle_blurb {
  font-size: var(--lg_text);
}
.blurb {
  max-width: 800px;
  font-size: var(--med_text);
  text-align: left;
  justify-self: center;
  color: var(--dark);
  background-position: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

}
.grid {
  height: 100%;
  flex-grow: 1;

  display: grid;
  grid-template-columns: 1fr 20fr 1fr;
  background-color: var(--orange_2);
}
.flex {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

.learn_more {
  text-decoration: none;
  background-color: var(--orange_1);
  color: var(--light);

  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;

  align-self: center;
  cursor: pointer;
}

/* Title */
.description_wrapper {
  background-image: url('../images/Art_Page/art page background image.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  font-size: var(--med_text);
  grid-column: 2 / 3;
  width: 100%;
  height: 350px;
  margin-top: 20px;
  padding: 0px;
}
.opacity_wrapper{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
.background {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 90%1fr;

  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}
.photo_wrapper{
  float:left;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size:contain;
  max-width:300px;
  max-height:445px;
}

/* Headers */
.main_description_wrapper {
  grid-column: 2 / 4;

  font-size: var(--med_text);
  width:100%;
  align-items:center;
  
  grid-column: 2 / 4;
  width:100%;
  margin:0 auto;

}
.small_description_wrapper {

  font-size: var(--small_text);
  grid-column: 2 / 4;
  width:100%;
  margin:0 auto;
  color:var(--orange_1)

}
.summary_description_wrapper {
  text-align: right;
  grid-column: 3;
  min-height: 445px;
  width:100%;
  align-items: center;
  justify-content: center;
}

/* Call to Action */
.call {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 1210px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.socials {
  margin: 20px;
  background-color: var(--orange_1);
}
.learn_more h3 a {
  color: var(--light);
}

/* Row 2 */
.row_2 {
  background-color: var(--orange_2);
}

/* Movie Setup */
.row_3 {
  align-self: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.meeting_time {
  width: 100%;
}
.film_img {
  justify-self: center;

  height: var(--img_height);
}

/* Row 4 */
.display_imgs {
  background-color: var(--logo_orange);

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  padding-top: 40px;
  padding-bottom: 40px;
}

/* Row 5 */
.img_width{
  width: 500px;
}

/* Movie Information */
.history_blurb {
  color: var(--orange_1);
}
.description {
  text-align: left;
  margin-bottom: 10px;
}

@media screen and (max-width: 1600px) {
  .img_width{
    width: 300px;
  }
}

@media screen and (max-width: 1050px){
  .row_2 {
      flex-direction: column;
  }

  .film_img {
      width: 30%;
      height: auto;

      align-self: center;
  }

  .display_imgs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img_width {
    margin: 20px;
  }

  body {
      min-height: 100vh;
      height: auto;
  }
}

@media screen and (max-width: 800px){
  .row_3 {
    flex-direction: column;
  }
}
