:root {
    --light: #F7F5FB;
    --dark: #2A3D45;
    --orange_1: #F58A07;
    --orange_2: #F9AB55;
    --light-purple: #a99ae0;
    --seafoam: #80c8cb;
    --blue1: #8bbed6;
    --purple1: #6c49ad;
    --yellow1: #f5f3ad;
    --meat: #e9d1b7;

    --text_color: var(var(--orange_2));
    --text_color_hover: var(--orange_1);
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}


.history_description_wrapper {
    background-image: url('../images/Movie_background.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    font-size: 20px;
    grid-column: 2 / 4;
    width:100%;

}
.opacity_wrapper{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

/* General Formatting */
.blurb {
    max-width: 800px;
    text-align: center;
    justify-self: center;
    color: var(--text_color);
    
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    background: linear-gradient(#6c49ad, #a99ae0);
    

}
.grid {
    height: 100%;
    flex-grow: 1;

    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    
}
.flex {
    grid-column: 2;
    display: flex;
    flex-direction: column;
}

.learn_more {
    text-decoration: none;
    background-color: var(--orange_1);
    color: var(--light);

    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;

    align-self: center;
    cursor: pointer;
}

/* Headers */


.main_description_wrapper {
    grid-column: 2 / 4;

    font-size: 20px;
    
}
.summary_description_wrapper {
    grid-column: 3;
    min-height: var(--img_height);
    background: linear-gradient(#6c49ad, #8bbed6);
  
}

/* Call to Action */
.call {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 1210px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.socials {
    margin: 20px;
    background-color: var(--orange_1);
}
.learn_more h3 a {
    color: var(--light);
}

/* Movie Setup */
.row_2 {
    align-self: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.film_img {
    justify-self: center;

    height: var(--img_height);
}
/* Movie Information */
.history_blurb {
    color: var(--orange_1);
}
.description {
    text-align: left;
    margin-bottom: 10px;
}

@media screen and (max-width: 1050px){
    .row_2 {
        flex-direction: column;
    }

    .film_img {
        width: 30%;
        height: auto;

        align-self: center;
    }

    body {
        min-height: 100vh;
        height: auto;
    }
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900");
section.main-banner {
  margin-top: 0px;
}

.main-banner {
  padding-top: 180px;
}

.main-banner .right-image {
  margin-left: 120px;
  position: relative;
  z-index: 2;
}

.main-banner .right-image img {
  position: relative;
  z-index: 2;
}

.main-banner .right-image::after {
  position: absolute;
  background-image: url(../images/banner-right-dec.png);
  width: 378px;
  height: 378px;
  content: '';
  right: -25%;
  z-index: 1;
}

.main-banner .header-text::after {
  position: absolute;
  background-image: url(../images/banner-left-dec.png);
  width: 214px;
  height: 429px;
  content: '';
  left: 0;
  bottom: -240px;
  z-index: 1;
}

.main-banner .header-text h6 {
  position: relative;
  z-index: 2;
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
  color: #777777;;
}

.main-banner .header-text h2 {
  position: relative;
  z-index: 2;
  margin-top: 20px;
  font-size: 64px;
  color: #111111;
  font-weight: 900;
  line-height: 74px;
  margin-bottom: 40px;
}

.main-banner .header-text h2 em {
  font-style: normal;
  color: #dc8cdb;
}

.main-banner .main-button-gradient {
  position: relative;
  z-index: 2;
}
