body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

.celebration_description_wrapper {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    font-size: var(--med_text);
    grid-column: 2 / 4;
    width:100%;
    margin-top: 20px;
}
.opacity_wrapper{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

/* General Formatting */
.blurb {
    max-width: 800px;
    text-align: center;
    justify-self: center;
    color: var(--text_color);
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}
.grid {
    height: 100%;
    flex-grow: 1;

    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    background-color: var(--orange_2);
}
.flex {
    grid-column: 2;
    display: flex;
    flex-direction: column;
}

.learn_more {
    text-decoration: none;
    background-color: var(--orange_3);
    color: var(--light);

    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;

    align-self: center;
    cursor: pointer;
}

/* Headers */
.celebration_description_wrapper {
    grid-column: 2 / 4;

    font-size: var(--med_text);
    display: grid;
    width: 100%;
   
}
.summary_description_wrapper {
    grid-column: 3;
    min-height: var(--img_height);

    background-color: var(--light);
}

/* Call to Action */
.call {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 1210px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.socials {
    margin: 20px;
    background-color: var(--orange_1);
}
.learn_more h3 a {
    color: var(--light);
}
.register {
    margin: 20px;
}

/* Movie Setup */
.row_2 {
    align-self: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.flyer {
    justify-self: center;

    height: var(--img_height);
}

/* Movie Information */
.image_description_wrapper {
    text-align: left;
    grid-column: 3;
    min-height:var(--image-height);
    width:100%;
    align-items: center;
    font-size: var(--med_text);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Cultural Festival */
.cultural_wrapper {
    background-color: var(--logo_orange);
}
.cultural_title {
    font-size: var(--lg_text);
    color: var(--light);
}
.festival_description {
    color: var(--light);
    font-size: var(--med_text);
}

/* Footer */
.sponsor_description {
    color: var(--dark);
}

@media screen and (max-width: 1050px){
    .row_2 {
        flex-direction: column;
    }

    .film_img {
        width: 30%;
        height: auto;

        align-self: center;
    }

    body {
        min-height: 100vh;
        height: auto;
    }
}

.learn_more {
    text-decoration: none;
    background-color: var(--orange_1);
    color: var(--light);

    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;

    align-self: center;
    cursor: pointer;
}
@media screen and (max-width: 1050px){
    .row_2 {
        flex-direction: column;
    }

    .film_img {
        width: 30%;
        height: auto;

        align-self: center;
    }
}