.footer {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;

    box-shadow: 5px 5px 5px 5px var(--dark);

    padding: 39px;
    background-color: var(--orange_2);
}

.instagram {
    grid-column: 2/3;
    grid-row: 1;
}
.facebook {
    grid-column: 3/4;
    grid-row: 1;
}
.twitter {
    grid-column: 4/5;
    grid-row: 1;
}
.email {
    grid-column: 5/6;
    grid-row: 1;
}
.footer_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: var(--dark);
}

@media screen and (max-width: 650px) {
    .footer {
        /* display: flex;
        flex-direction: column; */

        grid-template-columns: 1fr 1fr;
    }

    .email {
        grid-column: 2/3;
        grid-row: auto;
    }
    .instagram {
        grid-column: 1/2;
        grid-row: auto;
    }
    .facebook {
        grid-column: 2/3;
        grid-row: auto;
    }
    .twitter {
        grid-column: 1/2;
        grid-row: auto;
    }
}