.gallery_wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    margin: 40px;
}

.gallery_title {
    grid-column: 1 / 4;
    text-align: center;
    font-size: var(--lg_text);
}

.gallery_card {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 20px;
    border: 2px solid var(--light);
    border-radius: 20px;

    height: 200px;
    width: 300px;
}

.card_img {
    transition: opacity 600ms, visibility 600ms;
    height: 150px;
}
/* .gallery_card:hover .card_img {
    transition: opacity 600ms, visibility 600ms;
    opacity: 0;
    visibility: hidden;
} */

.load_more {
    max-width: 400px;
    width: 100%;
    padding: 10px;

    border: 1px solid var(--dark);
    border-radius: 20px;

    color: var(--light);
    background-color: var(--orange_1);
    font-size: var(--med_text);

    align-self: center;

    transition: color 300ms, background-color 300ms;
}
.load_more:hover {
    color: var(--orange_1);
    background-color: var(--light);

    transition: color 300ms, background-color 300ms;
}

@media screen and (max-width: 1000px) {
    .gallery_wrapper {
        grid-template-columns: auto auto;
    }
    .gallery_title {
        grid-column: 1 / 3;
    }
}
@media screen and (max-width: 650px) {
    .gallery_wrapper {
        grid-template-columns: auto;
    }
    .gallery_title {
        grid-column: 1 / 2;
    }
}