.interview_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--logo_orange_2);
    color: var(--light);
}

.producer_title {
    margin-top: 20px;
    margin-bottom: 20px;
}
.youtube_video {
    width: 850px;
    height: 500px;
}

.producer_wrapper {
    display: grid;
    grid-template-columns: 1fr 45% 45% 1fr;
    background-color: var(--white);
}
.producer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px;
}
.procuder_name {
    margin: 10px;
}
.prod_1 {
    grid-column: 2/3;
    background-color: var(--white);
    color:rgb(0, 0, 0);
}
.prod_2 {
    grid-column: 3/4;
    background-color: var(--white);
    color:rgb(0, 0, 0);
}

.books_Movies_header {
    color: var(--white);
    font-size: var(--med_text);
    text-align: center;
}

.sponsor_description {
    grid-column: 2/4;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    background-color: rgb(254, 254, 255);
    color: #E57743;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
    .youtube_video {
        width: 550px;
        height: 300px;
    }
}

@media screen and (max-width: 670px) {
    .producer_title {
        margin: 20px;
    }

    .producer_wrapper {
        display: flex;
        flex-direction: column;
    }
    
    .youtube_video {
        width: 250px;
        height: 200px;
    }

    .sponsor_description {
        border-radius: 0px;
        margin-bottom: 0px;
    }
}
