:root {
    --light: #F7F5FB;
    --dark: #2A3D45;
    --orange_1: #F58A07;
    --orange_2: #F9AB55;
    --orange-3: #ffeed4;
    --text_color: var(--orange_2);
    --text_color_hover: var(--orange_1);
}

.header {
    margin: 20px;
    text-align: center;
}
.full_width {
    width: 100%;
}
.description {
    margin: 10px;
}
.blurb {
    grid-column: 2;
    padding: 50px;
    max-width: 800px;
    justify-self: center;
}

/* Main Body Information */
.main_wrapper {
    display: grid;
    margin-top:20px;
    grid-template-columns: 1fr 90% 1fr;
    background-color: var(--orange_2);
}
.main_blurb {
    color: var(--light);
    text-align: center;
}
.body_wrapper{
    background-image:url('./images/home_background.jpg');
    background-size: cover;
    font-size: 20px;
    grid-column: 2 / 4;
    width:100%;

}
@media screen and (max-width: 650px) {
    .main_wrapper {
        display: flex;
        background-color: var(--orange_2);
    }
    .main_blurb {
        color: var(--light);
        text-align: center;
        font-size: 10px;
    }
    .blurb {
        padding: 10px;
        justify-self: center;
    }
}

/* About Us Section */
.about_row {
    display: flex;
    flex-direction: row;
    background-color: var(--orange_2);
    color: white;
}
.opacity_wrapper{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}
.photo_wrapper{
    float:left;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:contain;
    /* max-width:300px; */
    /* max-height:445px; */
}
.summary_description_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 445px;
    align-items: center;
}
.about_description {
    font-size: 25px;
    margin: 30px;
}
.partnered_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Sponsor Section */
.sponsor_row {
    display: flex;
    flex-direction: column;
    color: var(--orange_1);
}
.sponsors {
    width: 100%;
    max-width: none;
    max-height: none;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    padding: 20px;
}
.logo {
    justify-self: center;
    align-self: center;
}

.about_image {
    justify-self: center;
    width: 300px;
}
@media screen and (max-width: 850px) {
    .sponsors {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .about_row {
        flex-direction: column;
    }
    .about_image {
        width: 80%;
    }
}
@media screen and (max-width: 650px) {
    .row_2 {
        flex-direction: column;
    }
    .sponsors {
        grid-template-columns: 1fr 1fr;
    }
}